**__pycache__
**.cache/
**/logs
**.ninja_deps
**.ninja_log
**build.ninja


/.history/
/.idea/
/.ipynb_checkpoints/
/train_status/
/weight/
/saliency/
**.aim/
.bak/

HyperSpectralToolbox/
**.idea/
**.ipynb_checkpoints/
/.vscode/
/log_file/*
!log_file/.gitkeep
/new_log_file/
/new_weight/
/matlab_metrcis/
/media/
/train_status/
/visualized_img/*
!visualized_img/.gitkeep
/weight/
/saliency/
/runs/
/Matlab-Test-Package/
**wandb/
**runs/
**.pytest_cache/

要比的方法.md

**.zip
**.gz
**.tar

**.txt
**.png
**.jpg
**.jpeg
**.bmp
**.mat
**.npy
**.xlsx
**.csv
**.txt
**.zip
**.log
**.bin
**.pkl
**.pth
**.pt
**.safetensors
**.ckpt
**.log
**.so
**.o
**.zip
**.rar


**pretrained/
!teasers/*.png
!teasers/*.jpg
!readmes/figs/*.png
!readmes/figs/*.jpg

model/_PatchMergeModule.py
!model/module/patch_merge_module/**/*.so
**fuse_hidden*
**/lock
model/text_process_pipe/pretrained_ckpts
utils/utils_modules/shampoo_optimizers/*
task_datasets/VIF-MSRS/Degraded/train/
